{% extends 'base.html' %}


{% block content %}
    <div>
        <div style="text-align: center; max-width:500px; margin: 4rem auto;">
            <p>{{ target_user.date_joined }}</p>
            
            {% if target_user.profile %}
                <img 
                    src="{{ target_user.profile.image.url }}" 
                    style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover;"
                >
                <h2 style="font-family: 'NanumSquareOTFBold';">
                    {{ target_user.profile.nickname }}
                    {% if target_user == user %}
                        <a href="{% url 'profileapp:update' target_user.profile.pk %}">
                            <span
                                class="material-icons"
                                style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
                            >edit</span>
                        </a>
                    {% endif %}
                </h2>
                <h5 style="margin-bottom: 3rem; ">
                    {{ target_user.profile.message }}
                </h5>
            {% else %}
                {% if target_user == user %}
                    <a href="{% url 'profileapp:create' %}" style="text-decoration: none;">
                        <h2 style="font-family: 'NanumSquareOTFBold';">
                            프로필 작성
                        </h2>
                    </a>
                {% else %}
                    <h2>닉네임 미설정</h2>
                {% endif %}
            {% endif %}
            
            {% if target_user == user %}
                <a 
                    href="{% url 'accountapp:update' target_user.pk %}"
                    style="text-decoration: none;"
                >
                    <span
                        class="material-icons"
                        style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
                    >info</span>
                </a>
                <a href="{% url 'accountapp:delete' target_user.pk %}" style="text-decoration: none;">
                    <span class="material-icons"
                    style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;">
                        person_remove
                    </span>
                </a>
            {% endif %}
        </div>
        <div>
            {% include 'mixins/list_pragment.html' with article_list=object_list %}
        </div>
    </div>
{% endblock content %}
    